.nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #6d85af;
  color: white;
  padding: 1rem;
  box-shadow: 0px 3px 15px -2px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
